<section id="contact" class="section-bg">
    <div class="container" data-aos="fade-up">
        <div class="section-header">
            <h2>Contact Us</h2>
            <p>Have something to tell us ?</p>
        </div>
        <div class="row contact-info">
            <div class="col-md-4">
                <div class="contact-phone">
                    <i class="bi bi-phone"></i>
                    <h3>Phone Number</h3>
                    <p><a href="tel:+2349023186499">+234 902 318 6499</a></p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="contact-email">
                    <i class="bi bi-envelope"></i>
                    <h3>Email</h3>
                    <p><a href="mailto:devhubcommunity@gmail.com">communitydevhub@gmail.com</a></p>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Contact Section -->